@charset "UTF-8";
/* Auth Specific Layout */
.auth-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0f172a;
}

.auth-card {
    background: #1e293b;
    padding: 2.5rem;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: 1px solid #334155;
}

.auth-card h2 {
    margin-bottom: 0.5rem;
    text-align: center;
}

.auth-card h2 span {
    color: #38bdf8;
}

.auth-card p {
    color: #94a3b8;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    color: #cbd5e1;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 0.75rem;
    border-radius: 6px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
}

.btn-auth {
    width: 100%;
    padding: 0.8rem;
    background: #38bdf8;
    border: none;
    border-radius: 6px;
    color: #0f172a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 1rem;
}

.btn-auth:hover {
    background: #0ea5e9;
}

.auth-footer {
    margin-top: 1.5rem !important;
}

.auth-footer a {
    color: #38bdf8;
    text-decoration: none;
}